/* jquery.layer.css */

/* LAYER
/* ----- */
.layer-open {
  overflow: hidden;
}

.layer-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2100;
  opacity: 0.7;
  filter: alpha(opacity=70);
  background: #000; 
}

.layer-content {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800; 
  width: 100%; 
  font-family: 'Handlee', cursive;
  font-size: 18px;
  color: black;
}

.layer-backdrop + .layer-content {
  position: absolute;
  color: white; 
  z-index: 2101; 
}

.close-layer {
  position: fixed;
  top: 6px;
  right: 12px;
  width: 24px;
  height: 50px;
  font-size: 32px;
  color: #f1f1f1;
  z-index: 2200;
  cursor: pointer;
}

.close-layer:hover {
  color: #fff;
}
